@model IEnumerable<POS.Entities.Stock>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Stocks</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Agregar Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Categoría
            </th>
            <th>
                Almacén
            </th>
            <th>
                Ubicación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Product.UrlImage" alt="Imagen de @item.Product.UrlImage" style="width: 40px; height: auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warehouse.WarehouseLocation.Address)
                </td>
                <td>
                    @* <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdStock">Editar</a> | *@
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdStock">Detalles</a> |
                    <a class="btn btn-warning" asp-action="Inactivate" asp-route-id="@item.IdStock">Inactivar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
