@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Se produjo un error al procesar su solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br />
        <strong>Mensaje:</strong> <code>@Model.Message</code>
        <br />
        <strong>Fuente:</strong> <code>@Model.Source</code>
    </p>
}

@if (Model.ShowInnerException)
{
    <p>
        <strong>Mensaje:</strong> <code>@Model.InnerExceptionMessage</code>
        <br />
        <strong>Fuente:</strong> <code>@Model.InnerExceptionSource</code>
    </p>
}
