@model IEnumerable<POS.Entities.Warehouse>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<h1>Lista de Almacenes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Almacén</a>
    <a asp-controller="WarehouseLocations" asp-action="Index" class="btn btn-secondary">
        Ubicaciones
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Ubicación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WarehouseLocation.Address)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdWarehouse">Editar</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdWarehouse">Detalles</a>
                    @* <a class="btn btn-warning" asp-action="Inactivate" asp-route-id="@item.IdWarehouse">Inactivar</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
