@model IEnumerable<POS.Entities.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Movimientos de Inventario</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Agragar movimiento de inventario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Imagen
            </th>
            <th>
                Stock
            </th>
            <th>
                Movimiento
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Stock.Product.UrlImage" alt="Imagen de @item.Stock.Product.UrlImage" style="width: 40px; height: auto;" />
                </td>
                <td>
                    @item.Stock.Product.Name / @item.Stock.Product.Description
                </td>
                <td>
                    @if (item.MovementType == "EN")
                    {
                        @:Entrada
                    }
                    else if (item.MovementType == "SA")
                    {
                        @:Salida
                    }
                    else if (item.MovementType == "AJ")
                    {
                        @:Ajuste
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) *@
                    @Html.ActionLink("Detalles", "Details", new { IdStock = item.IdStock, IdMovement = item.IdMovement }, new { @class = "btn btn-primary" })
                    @* @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                </td>
            </tr>
        }
    </tbody>
</table>
